@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.Weather{
    font-family: 'poppins';
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-image: linear-gradient(45deg,#2f4680,#500ae4);
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: auto;
}
.dontkn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.search{
    display: flex;
    align-items: center;
    gap: 12px;
}
.search input{
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
}
.search img{
    width: 50px;
    padding: 15px;
    border-radius: 50%;
    background: #ebfffc;
    cursor: pointer;
}
.temp{
    color: white;
    font-size: 80px;
    line-height: 1em;
}
.weatherimg{
    width: 150px;
    margin: 30px 0;
}
.location{
    color: white;
    font-size: 40px;
    text-align: center;
}
.weatherdata{
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.col{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}
.col span{
display: block;
font-size: 16px;
}
.col img{
    width: 26px;
    margin-top: 10px;
}
.col2{
    margin-left: 10px;
}
@media(max-width:800px){
    .Weather{
        width: auto;
    }
    .location{
        font-size: 30px;
    }
}