*{
   margin: 0;padding: 0;
   box-sizing: border-box;
}
.app{
   background-color: #e2d4ff;
   min-height: 100vh;
   display: grid;
}
/* Hide the dropdown arrow in Chrome, Edge, Safari */
input::-webkit-calendar-picker-indicator {
   display: none !important;
   -webkit-appearance: none;
}
